.img-slider {
    width: 100%;
    height: 100%;
    position: relative;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .img-slider-img-container {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        cursor: pointer;


        .img-slider-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
            flex-shrink: 0;
            flex-grow: 0;
            transition: translate 700ms ease-in-out;
        }
    }

    .white-dots {
        width: 60px;
        overflow-x: hidden;
        position: absolute;
        bottom: .75rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: .4rem;
        z-index: 100;

        .img-slider-dot-btm {

            padding: .18em;
            background-color: rgba($gray1, .5);
            border-radius: 50%;
            border: none;
        }

        .selected {
            padding: .21em;
            background-color: $gray1;
        }
    }

    .btn-img-slider {
        opacity: 0;
        transition: opacity 0.3s ease;
        margin: 0 1em;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: background-color 100ms ease-in-out;
        border-radius: 50%;
        width: em(35px);
        height: em(35px);
        border: none;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba($gray1, .8);
        display: flex;
        justify-self: center;
        

        &:hover {
            background-color: rgba($gray1, 1);
            width: em(36px);
            height: em(36px);
        }

        img{
            height: 12px;
            width: 12px;
            margin: auto;
        }
       
    }

    &:hover .btn-img-slider {
        opacity: 1;
    }
}