.tag_filter {
    margin: auto;
    font-size: .75em;
    color: $gray5;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    overflow: hidden;
 
    


    .scroll-btn {
        display: block;
        background-color: $gray1;
        width: rem(30px);
        height: rem(30px);
        transform: translateY(100%);
        margin: 1em;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        border: 1px solid $gray3;
        box-shadow: none;

        img{
            width: em(15px);
            height: em(15px);
        }
    }

  


    .scroll-btn.right {
        right: 0;
    }

    .tag {

        height: 66px;
        margin: 1.5rem 6rem;

        display: flex;
        white-space: nowrap;
        align-items: center;
        // padding-bottom: rem(5px);
        padding-bottom:rem(5px); // rem(5px) rem(5px);
        scroll-behavior: smooth;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        gap: 55px;
    }
    
    .tag-card {
        // padding: 0 40px;
        height: 65px;
        width: 100px;
        text-align: center;

        display: grid;
        justify-content: center;

        &:hover{
            border-bottom: 2px solid $gray4;
        }
        
    }

    .selected {
        border-bottom: solid 2px #000
    }
    .tag-icon {

        height: 25px;
        width: 25px;
        stroke: $gray5;
        

    }
}