.stay-details {

    // max-width: 1120px;
    // margin-left: 7%;
    // margin-right: 7%;
    .middle-layout{

        display: grid;
        grid-template-columns: 2fr 1fr;
        .left-side-container{
            margin-right: 6rem;
        }
    }
    .stay-share-save {
        font-family: AirbnbCereal_W_Bk;
        display: flex;
        justify-content: space-between;

        .stay-title {
            color: $gray6;
            font-size: rem(26px);
            margin: rem(24px) 0;
        }

        .share-save-btns {
            color: $gray5;
            align-self: center;
            margin-right: -12px;

            button {
                gap: rem(8px);
                font-size: rem(14px);
                text-decoration: underline;
                cursor: pointer;

                img {
                    width: rem(16px);
                    height: rem(16px);
                }
            }
        }
    }
}