@font-face {
    font-family: Figtree-Italic-VariableFont_wght;
    src: url(../../fonts/Figtree-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Figtree-VariableFont_wght;
    src: url(../../fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: AirbnbCereal_W_Bd;
    src: url(../../fonts/AirbnbCereal-fontiko/AirbnbCereal_W_Bd.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Bk;
    src: url(../../fonts/AirbnbCereal-fontiko/AirbnbCereal_W_Bk.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Blk;
    src: url(../../fonts/AirbnbCereal-fontiko/AirbnbCereal_W_Blk.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Lt;
    src: url(../../fonts/AirbnbCereal-fontiko/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Md;
    src: url(../../fonts/AirbnbCereal-fontiko/AirbnbCereal_W_Md.otf);
}

@font-face {
    font-family: AirbnbCereal_W_XBd;
    src: url(../../fonts/AirbnbCereal-fontiko/AirbnbCereal_W_XBd.otf);
}

@font-face {
    font-family: FlowCircular-Regular;
    src: url(../../fonts/Flow_Circular/FlowCircular-Regular.ttf);
}


@font-face {
    font-family: Blinker-Black;
    src: url(../../fonts/Blinker/Blinker-Black.ttf);
}

@font-face {
    font-family: Blinker-Bold;
    src: url(../../fonts/Blinker/Blinker-Bold.ttf);
}

@font-face {
    font-family: Blinker-ExtraBold;
    src: url(../../fonts/Blinker/Blinker-ExtraBold.ttf);
}

@font-face {
    font-family: Blinker-ExtraLight;
    src: url(../../fonts/Blinker/Blinker-ExtraLight.ttf);
}

@font-face {
    font-family: Blinker-Light;
    src: url(../../fonts/Blinker/Blinker-Light.ttf);
}

@font-face {
    font-family: Blinker-Regular;
    src: url(../../fonts/Blinker/Blinker-Regular.ttf);
}

@font-face {
    font-family:Blinker-SemiBold;
    src: url(../../fonts/Blinker/Blinker-SemiBold.ttf);
}

@font-face {
    font-family:Blinker-Thin;
    src: url(../../fonts/Blinker/Blinker-Thin.ttf);
}

@font-face {
    font-family:Roboto-Black;
    src: url(../../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family:Roboto-BlackItalic;
    src: url(../../fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family:Roboto-Bold;
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family:Roboto-BoldItalic;
    src: url(../../fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family:Roboto-Italic;
    src: url(../../fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family:Roboto-Light;
    src: url(../../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family:Roboto-LightItalic;
    src: url(../../fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family:Roboto-Medium;
    src: url(../../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family:Roboto-MediumItalic;
    src: url(../../fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family:Roboto-Regular;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family:Roboto-Thin;
    src: url(../../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family:Roboto-ThinItalic;
    src: url(../../fonts/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family:HelveticaNeueBlack;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueBlack.otf);
}

@font-face {
    font-family:HelveticaNeueBlackItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueBlackItalic.otf);
}

@font-face {
    font-family:HelveticaNeueBold;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueBold.otf);
}

@font-face {
    font-family:HelveticaNeueBoldItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueBoldItalic.otf);
}

@font-face {
    font-family:HelveticaNeueHeavy;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueHeavy.otf);
}

@font-face {
    font-family:HelveticaNeueHeavyItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueHeavyItalic.otf);
}

@font-face {
    font-family:HelveticaNeueItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueItalic.otf);
}

@font-face {
    font-family:HelveticaNeueLight;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueLight.otf);
}

@font-face {
    font-family:HelveticaNeueLightItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueLightItalic.otf);
}

@font-face {
    font-family:HelveticaNeueMedium;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueMedium.otf);
}

@font-face {
    font-family:HelveticaNeueMediumItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueMediumItalic.otf);
}

@font-face {
    font-family:HelveticaNeueRoman;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueRoman.otf);
}

@font-face {
    font-family:HelveticaNeueThin;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueThin.otf);
}

@font-face {
    font-family:HelveticaNeueThinItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueThinItalic.otf);
}

@font-face {
    font-family:HelveticaNeueUltraLight;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueUltraLight.otf);
}

@font-face {
    font-family:HelveticaNeueUltraLightItalic;
    src: url(../../fonts/HelveticaNeue/HelveticaNeueUltraLightItalic.otf);
}

